#background {
  fill: beige;
}
body {
  margin: 0;
}

.node {
  stroke-width: 1;
  stroke: black;
}

.nodeUnselected {
  fill: grey;
}
.nodeSelected {
  fill: lightBlue;
}

.line {
  stroke-width: 1;
  stroke: black;
}
